<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>-[CoreDataTest testFetchLocationCondion].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>-[CoreDataTest testDeleteCondition].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>-[EventKitDemoTests testCheckCondition].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>-[CoreDataTest testEvalueWeatherCondition].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>-[CoreDataTest testFetchAllCondition].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>-[CoreDataTest testFetchCondion].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0062F151970321800B71762</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>C0062F361970321800B71762</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
